.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.list__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.blank__space {
  width: 12rem;
  height: 2rem;
}

.list__container > .list__item > .list-item__link {
  line-height: 1.5rem;
}

.link__entrar {
  padding: 0.6rem 1rem;
  border: solid 1px var(--border-color-cursos);
  border-radius: 0.5rem;
}

.link__cadastrar {
  padding: 0.6rem 1rem;
  color: var(--white);
  border-radius: 0.5rem;
  background-color: var(--secondary-font-color-cadastrar-btn-bg);
}
