@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap");

@import url("navbar.css");
@import url("banner-top.css");
@import url("achievements.css");
@import url("vacancy-banner.css");
@import url("vacancy-portfolio.css");
@import url("banner-opinion.css");
@import url("footer.css");

:root {
  --primary-font: "Inter", sans-serif;
  --main-bg-color: #efefef;
  --main-font-color: #667085;
  --secondary-font-color: #8e2424;
  --title-font-color: #101828;
  --bg-color-opinion-banner: #c319195a;
  --border-color-cursos: #eaecf0;
  --footer-font-color: #98a2b3;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
}
